@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #34699A;
}

.btn {

    cursor: pointer;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #F4EBD3;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #DED3C4;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    text-align: center;

}

.btn:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

textarea {
    resize: none;
    border: 5px solid #A7C1A8;
    padding: 5em;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: #D1D8BE;

}

.box {

    border: 5px solid #A7C1A8;
    padding: 5em;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: #D1D8BE;
}

span {
    font-family: "Menbere", sans-serif;
}

h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-size: 6em;
    font-style: normal;
    text-align: center;
    color: #FDF5AA;
    text-shadow: 4px 4px #58A0C8;
}